
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif, Arial;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}


#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--second-bg-color);
    z-index: 10;
}

#menu-icon.bx-x {
    color: var(--main-color);
}


.navbar {
    display: flex;
    flex-direction: row;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 12% 5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-content h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.home-content p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-bottom: 2rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 1.8rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 0.3rem 1rem 3% 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 15px var(--main-color);
    background-color: var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 4rem;
    font-size: 1.2rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 15px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Monitor de CFTV";
    color: var(--main-color);
    animation: words 10s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 10s steps(14) infinite;
}


@keyframes cursor {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: var(--main-color);
    }
    100% {
        border-left-color: transparent;
    }
}

@keyframes words {
    0%, 33% {
        content: "Monitor de CFTV";
    }
    34%, 66% {
        content: "Desenvolvedor de Software";
    }
    67%, 100% {
        content: "Técnico em Climatização";
    }
}

@keyframes typing {
    0%, 25%, 50%, 75%, 100% {
        width: 0;
    }
    10%, 35%, 60%, 85% {
        width: 100%;
    }
}


#educacao {
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem 3%;
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#educacao:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.7);
}

.timeline {
    position: relative;
    padding: 2rem 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background: var(--main-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 45%;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 55%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 20px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    border: 3px solid var(--bg-color);
}

.timeline-item:nth-child(even)::after {
    left: -10px;
}

.timeline-item h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.timeline-item span {
    font-size: 1.2rem;
    color: var(--main-color);
}

.timeline-item p {
    margin-top: 1rem;
    line-height: 1.6;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    gap: 30px;
    padding: 2rem;
    animation: fadeIn 1.5s ease-in-out;
}

/* Estilos para a nova seção de Projetos */
#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 3%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projetos h2 {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.project-overview p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    max-width: 800px;
}

.project-link {
    margin: 1rem 0;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-link h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.project-link .btn {
    padding: 0.8rem 2rem;
    background: var(--main-color);
    color: black;
    border-radius: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-link .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--main-color);
}


#metodologia-ferramentas {
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem 3%;
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#metodologia-ferramentas:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.7);
}

.metodologia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 3rem;
}

.metodo-item {
    flex: 1 1 200px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.metodo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
}

.metodo-item i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.metodo-item h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.metodo-item p {
    font-size: 1rem;
    line-height: 1.4;
}

.ferramentas h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
}

.tool-item i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--main-color);
    transition: transform 0.3s;
}

.tool-item:hover i {
    transform: rotate(20deg) scale(1.2);
}

.tool-item h4 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

#contato {
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem 3%;
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contato:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.7);
}

#contato p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

form input:focus,
form textarea:focus {
    border-color: var(--main-color);
}

form button {
    padding: 1rem 2rem;
    background: var(--main-color);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

form button:hover {
    background: #00d4d4;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}
section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        .home-content h3 {
            margin-bottom: 2rem; /* Aumenta o espaçamento abaixo do texto com animação */
        }
    
        .home-content p {
            margin-top: 1.5rem; /* Garante um bom espaçamento acima do parágrafo */
        }
    }
    

    .timeline-item,
    .project-item,
    .metodo-item {
        width: 100%;
        left: 0 !important;
    }

    .timeline-item::after {
        display: none;
    }

    .timeline::before {
        left: 8px;
    }

    .navbar {
        display: none;
    }

    #menu-icon {
        display: block;
    }
    
}
/* Ajuste de contraste em textos e fundos */
section {
    background-color: rgba(0, 0, 0, 0.7); /* Aumenta a opacidade de fundo */
}

.project-info p, .timeline-item p, .metodo-item p, .ferramentas h3 {
    color: rgba(255, 255, 255, 0.9); /* Aumenta contraste do texto */
}
#contact-form p {
    font-size: 1.2rem;
    color: var(--main-color);
    margin-top: 1rem;
    animation: fadeInMessage 0.6s ease-in-out;
}

@keyframes fadeInMessage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    body {
        padding: 0 5%;
    }
    .header {
        padding: 1.5rem 5%;
    }
    .home-content h1 {
        font-size: 2.5rem;
    }
    .home-content p {
        font-size: 1rem;
    }
    .btn-group {
        flex-direction: column;
        gap: 1rem;
    }
    #educacao, #metodologia-ferramentas, #contato {
        padding: 3rem 5%;
    }
    .project-item {
        max-width: 100%;
        max-height: auto;
        margin: 10px auto;
    }
}

.footer {
    background: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    padding: 2rem 0;
    text-align: center;
    border-top: 2px solid var(--main-color);
    margin-top: 3rem;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer .social-icons a {
    color: var(--main-color);
    font-size: 1.8rem;
    transition: transform 0.3s, color 0.3s;
}

.footer .social-icons a:hover {
    transform: scale(1.2);
    color: var(--text-color);
}

#experiencia {
    background: rgba(0, 0, 0, 0.7);
    padding: 4rem 3%;
    border-radius: 12px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid rgba(0, 255, 255, 0.2);
}

.experience-item h3 {
    font-size: 1.8rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.experience-item p {
    margin-top: 0.5rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
}

